@import "variables";

.parameter {
  line-height: 1;
  margin: $spacer/2 0;

  output {
    display: block;

    .value,
    .units,
    .trend {
      margin-right: $spacer/4;
    }

    .value {
      font-size: $h3-font-size;
    }
    .units {
      font-size: $h5-font-size;
    }
    .trend {
      font-size: $h6-font-size;
      color: $gray-600;
    }

    &.min,
    &.max,
    &.small {
      .value {
        font-size: $h5-font-size;
      }
      .units {
        font-size: $h6-font-size;
      }
      .trend {
        font-size: $h6-font-size;
      }
    }
  }

  label {
    font-size: $h6-font-size * 0.8;
    color: $gray-600;
    margin: 0;
  }
}
