@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

// Custom variables go here
$cold: #025fd1;
$hot: #d10202;

$body-bg: #f6f6f6;

$font-size-base: 0.9rem;

@import "node_modules/bootstrap/scss/variables";
